<!-- Ultimas Consultas Guardadas -->
<div class="container mb-5">
  <div class="row" style="padding: 20px"></div>

  <div
    class="row align-items-center justify-content-evenly"
    style="background-color: rgba(255, 255, 255, 0.7); padding: 40px"
  >
    <div class="col-sm">
      <div class="h4">
        Historial
        <i class="fas fa-caret-right fa-1x"></i>
      </div>
    </div>
    <div class="col-sm">
      <div
        class="pt-3 px-3 mb-3"
        style="border: 3px solid rgb(120, 120, 120); line-height: 80%"
      >
        <p>Temperatura: <span>56°</span></p>
        <p>Humedad: <span>10</span></p>
        <p>Vel. del viento: <span>15</span></p>
        <div class="row">
          <div class="col-8">
            <p class="h6">Lluvioso</p>
          </div>
          <div class="col-2"><i class="fas fa-cloud-showers-heavy"></i></div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div
        class="pt-3 px-3 mb-3"
        style="border: 3px solid rgb(120, 120, 120); line-height: 80%"
      >
        <p>Temperatura: <span>56°</span></p>
        <p>Humedad: <span>10</span></p>
        <p>Vel. del viento: <span>15</span></p>
        <div class="row">
          <div class="col-8">
            <p class="h6">Nublado</p>
          </div>
          <div class="col-2"><i class="fas fa-cloud"></i></div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div
        class="pt-3 px-3 mb-3"
        style="border: 3px solid rgb(120, 120, 120); line-height: 80%"
      >
        <p>Temperatura: <span>56°</span></p>
        <p>Humedad: <span>10</span></p>
        <p>Vel. del viento: <span>15</span></p>
        <div class="row">
          <div class="col-8">
            <p class="h6">Parcialmente nublado</p>
          </div>
          <div class="col-2"><i class="fas fa-cloud-sun"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Ultimas Consultas Guardadas -->

<div class="row">
  <!-- Form -->
  <div class="col-md-8">
    <div class="px-4 py-4 bg-white shadow-lg" style="border-radius: 10px">
      <div class="mx-1">
        <p class="mb-4">Ingresa los datos de tu consulta</p>

        <!-- Formulario -->
        <form id="form-data" method="post">
          <div class="row mb-3">
            <div class="col">
              <label class="mb-1">Temperatura(C&#176;)</label>
              <input
                id="temp"
                name="historial[temperatura_h]"
                class="form-control"
                type="number"
                placeholder="Temperatura"
              />
            </div>
            <div class="col">
              <label class="mb-1">Humedad</label>
              <input
                id="hum"
                name="historial[humedad_h]"
                class="form-control"
                type="number"
                placeholder="Humedad"
              />
            </div>
            <div class="col-auto">
              <label class="mb-1">Velocidad del viento(km/hr)</label>
              <input
                id="veloc"
                name="historial[velocidadViento_h]"
                class="form-control"
                type="number"
                placeholder="Velocidad"
              />
            </div>
          </div>

          <!-- Cadena de Errores -->
          <div id="contenedor-errores"></div>
          <!-- Cadena de Errores -->

          <!-- ID del usuario -->
          <input
            type="hidden"
            name="historial[usuario_id_usuario]"
            value="<?php"
            echo
            $auth_id
            ?
          />>
          <!-- ID del usuario -->
          <!-- Nombre de la clase  -->
          <input
            type="hidden"
            id="usuario_id"
            name="historial[resultado_h]"
            value=""
          />
          <!-- Nombre de la clase  -->

          <div class="d-flex justify-content-end">
            <button
              class="btn btn-primary btn-md mt-4"
              id="btn-predecir"
              style="text-transform: none; font-size: 90%"
            >
              ¡Predecir!
            </button>
          </div>
        </form>
        <!-- Formulario -->
      </div>
    </div>
    <!-- Form -->
  </div>

  <!-- Contenedor Resultado -->
  <div class="col-6 col-md-4">
    <div class="px-4 py-4 bg-white shadow-lg h-100" style="border-radius: 10px">
      <p class="mb-4">Tu predicción</p>

      <div class="row" style="padding: 40px">
        <div class="col-8">
          <p class="lead" id="resultado">Lluvioso</p>
        </div>
        <div class="col-2">
          <i class="fas fa-cloud-showers-heavy fa-3x"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- Contenedor Resultado -->
</div>
