.bg {
  background-color: #dddddd;
}

.brand-logo-m {
  height: 90px;
  margin-top: -21px;
  margin-bottom: -20px;
}

.bg-size {
  height: 100vh;
}

.bg-mask {
  background-color: rgba(0, 0, 0, 0.5);
}

.icono {
  width: 4rem;
}

.user-icon {
  width: 1.5rem;
}
