.bg {
  background-color: #ebebebd0;
}

.brand-logo-m {
  height: 90px;
  margin-top: -21px;
  margin-bottom: -20px;
}

.bg-size {
  height: 100vh;
}

.bg-mask {
  background-color: rgba(0, 0, 0, 0.5);
}
